#head1 {

    text-align: center;

}

#body1 {

   text-align: center;
}

#center {
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
}

#password {

    width: 100%;
    text-align: center;

}